.parent {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-gap: 5px;
        align-items: center;
        background-color: #f2f2f2;
      }
.parent > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  align-items: center;
}
.parent > div:nth-child(even) {
  background-color: #fff;
}
.parent > div > div {
  padding: 15px;
}
#final p {
  text-align: center;
}

#maherhossainDatepicker {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

#maherhossain-pc i {
  font-weight: 500 !important;
}
#mh-current-date,
#mh-current-weeks,
#mh-current-days {
  background: #f2f2f2;
  padding: 0 10px;
}
